* {
    /*margin: auto;*/
    box-sizing: border-box;
    /*font-size: 18px;*/
}


body {
    max-width: 375px;
    max-height: 100%;

    margin: auto;
}



/*header*/
.build {
    width: 100%;
    height: 720px;
    margin: auto;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    background: url(images/bg-hero-mobile.svg) 100% 0% no-repeat; /* Добавляем фон */
    background-color: rgba(205, 238, 244, 0.45);
}

.huddle {
    width: 100px;
    margin: 25px 0 0 10px;
}

.try {
    float: right;
    width: 150px;
    height: 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;

    color: black;
}

.try p {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.community {
    margin: 80px auto auto auto;
    width: 200px;
    max-height: 100%;

    text-align: center;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    font-size: 15px;

    margin: 30px auto auto auto;
    max-width: 270px;
    max-height: 100%;

    text-align: center;
}


.started {
    margin: 30px auto auto auto;
    width: 250px;
    padding: 12px 20px;

    box-sizing: border-box;
    border: 1px solid #e75aa6;
    border-radius: 25px;
    background-color: #e75aa6;

    color: white;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.mockups {
    margin: 72px auto auto 35px;
    width: 310px;
}

/*header*/

/*section*/

.grow {
    margin: 50px auto 50px auto;
    max-width: 340px;
    max-height: 500px;
    border: 1px solid white;

    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.conversation {
    max-width: 210px;
    margin: 40px auto auto 65px;
}
/*section*/

.together {
    margin-top: 40px;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.generate {
    text-align: center;
    max-width: 267px;
    max-height: 100%;
    margin: auto;
    padding-bottom: 30px;

    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #00000073;

}

/*footer*/
.lorem {
    width: 340px;
    height: 1000px;
    position: relative;
}

.avoid {
    position: absolute;
    width: 340px;
    height: 170px;
    top: 0;
    left: 7px;
    z-index: 1;


    background-color: white;
}

.ready {
    width: 310px;
    height: 160px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);

    position: absolute;
    top: 80px;
    left: 21px;
    z-index: 2;
}


.footer-bg {
    margin: auto;
    width: 340px;
    height: 600px;
    background-color: #0a2c26;

    position: absolute;
    top: 0;
    left: 7px;
    z-index: 0;
    color: green;
}


.getstarted {
    margin: 30px auto auto auto;
    width: 230px;
    padding: 12px 20px;

    box-sizing: border-box;
    border: 1px solid #e75aa6;
    border-radius: 25px;
    background-color: #e75aa6;

    color: white;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.readytobuild {
    text-align: center;
    margin-top: 20px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
/*footer*/
.bg-footer {
    width: 320px;
    height: 400px;
    position: absolute;
    top: 300px;;
    left: 17px;
    z-index: 5;
    background-color: blue;
}


.footer-section {
    width: 100%;
    max-height: 800px;
    position: relative;


}

.void {
    width: 100%;
    height: 170px;
    background-color: rgb(255, 255, 255);


}

.readytobuild {
    width: 350px;
    height: 150px;
    margin: 0;
    position: absolute;

    top: 80px;
    left: 12px;
    z-index: 1;

    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.44);

}


.contacts {
    width: 100%;
    height: 550px;
    background-color: rgb(42, 52, 47);
}


.contacts-about {
    width: 300px;
    height: 400px;
    background-color: rgba(90, 121, 231, 0);

    position: absolute;

    top: 280px;
    left: 20px;
    z-index: 1;

    color: white;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


/*footer*/









































